@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.flex {
  display: flex;
}
/* header section */
.header {
  justify-content: space-between;
  align-items: center;
}
.marquee {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 5px;
  background-color: #e6f7ff;
  color: #ff8c00;
}
.marquee-title {
  color: red;
  font-weight: 800;
}
.menu-icon {
  display: none;
}
.nav-bar {
  justify-content: center;
  align-items: center;
}
.nav-links {
  gap: 30px;
  align-items: center;
  margin-right: 80px;
  list-style: none;
  font-size: 1rem;
  font-weight: 700;
}
.home {
  color: rgb(254, 163, 1);
  font-weight: 700;
}
.link {
  color: rgb(1, 172, 253);
  font-weight: 700;
}
.admission {
  color: rgb(93, 88, 239);
  font-weight: 700;
}
.facilities {
  color: rgb(5, 212, 223);
}
.btn-primary {
  border-radius: 8px;
  padding: 10px 30px;
  color: white;
  border: none;
  background-color: orange;
  font-size: 1rem;
  font-weight: 600;
}
/* hero section */
.hero-container {
  justify-content: space-between;
}
.hero-section {
  max-width: 500px;
  margin-top: 80px;
}
.hero-title {
  font-size: 3rem;
  font-weight: 700;
}
.hero-description {
  font-size: 1.2rem;
  font-weight: 400;
}
.hero-img img {
  max-width: 90%;
}
.hero-btn {
  color: white;
  padding: 10px;
  font-weight: 500;
  background: linear-gradient(
    rgb(1, 172, 253),
    rgb(254, 163, 1),
    rgb(93, 88, 239),
    rgb(93, 88, 239)
  );
  border: none;
  border-radius: 5px;
}

/* standerd section */
.standard-title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
}
.standard-container {
  background-image: url(../assets/bg.png);
  margin-top: 80px;
}
.card-section {
  gap: 30px;
}
.card {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-two {
  text-align: center;
  padding: 20px;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-three {
  text-align: center;
  padding: 20px;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.standard-title {
  font-size: 30px;
  font-weight: 700;
}
.standard-description {
  color: rgb(128, 128, 128);
}
/* arrow icon section */
.arrow-icon {
  text-align: center;
  color: orange;
  margin-bottom: 60px;
}

.arrow-icon img {
 max-width: 70px;
}
/* stories section */
.our-section {
  background-image: url(../assets/bg.png),
    linear-gradient(
      45deg,
      rgba(254, 163, 1, 0.3),
      rgba(255, 255, 255, 0.3) 100%
    );
}
.stories-container {
  display: grid;
}
.stories-card {
  border-radius: 16px;
  background: rgb(255, 255, 255);
  max-width: 400px;
 max-height: 450px;
}
.stories-card img {
  width: 80%;
}
/* our section */
.stories-container {
 
}
.stories-card-big {
  
}

/* footer section */
.footer{
  background-color:rgb(1, 172, 253);
  height: 300px;
}
.footer-section{
  justify-content:space-between;
  align-items: center;
  padding: 30px;
  color: white;
  
}
.footer-logo{
  width: 399.02px;
  height: 100px;
}
.footer-list ul{
  list-style: none;
}
.footer-title{
  font-size: 42px;
}
.footer-img{
  gap: 10px;
  height: 100px;
}
.footer-img img{
  height: 90px;
 
}

/* responsive section */
@media screen and (max-width: 576px) {
  .nav-bar,
  .btn-primary,
  .title {
    display: none;
  }
  .menu-icon {
    display: block;
    font-size: 1.3rem;
  }
  .logo {
    margin-bottom: 5px;
  }
  .header {
    border-bottom: 0.5px solid rgb(254, 163, 1);
  }
  .hero-container {
    margin: 0;
    padding: 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hero-img {
    max-width: 100%;
    text-align: center;
  }
  .hero-section {
    text-align: center;
  }
  .card-section {
    flex-direction: column;
    max-width: auto;
    max-height: auto;
   
  }
  .standard-container{
    max-width:auto;
    max-height:auto;
  }
  .card-two{
    overflow: hidden;
  }
  .arrow-icon {
    display: none;
  }
  .footer-section{
    flex-direction: column;
  }
  .footer-logo{
    width: auto;
    height: auto;
  }
}
